<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="LexicalAnalyzerOutputPath" value ="Target\LexicalAnalyzerOutput.txt"/>
    <add key="ParserOutputPath" value ="Target\ParserOutput.txt"/>
    <add key="SymbolTableOutputPath" value ="Target\SymbolTableOutput.txt"/>
    <add key="MaximumIdentifierLength" value ="27"/>
    <add key="SymbolTableSize" value ="211"/>
    <!--<add key="SymbolTableSize" value ="211"/>
    <add key="SymbolTableSize" value ="211"/>
    <add key="SymbolTableSize" value ="211"/>-->
  </appSettings>
</configuration>